<%= form_for(@quote) do |f| %>
    <script src="../javascripts/amortize.js"></script>
    <script>

        function update_price() {

            var abd = document.getElementById("quote_car_id").value;

            var car_id = abd;
            if (car_id > 0){
            jQuery.ajax({
                url: "/update_price",
                type: "GET",
                data: {"car_id" : car_id},
                dataType: "html",
                success: function(data) {
                    jQuery("#price1").html(data);
                }
            });}
            else{
                $("#price1").val(0);
            }

        }
    </script>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select(:customer_id, Customer.all, :id, :full_name) %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.collection_select(:employee_id, Employee.where(:position => "Sales Person"), :id, :full_name) %>
  </div>
  <div class="field">
    <%= f.label :car_id %><br>

    <%= f.collection_select(:car_id, Car.where(:isSold => false).all, :id, :full_car, {:include_blank => true}, {:onchange => "update_price(this.value)", include_blank: " ", :onload => "update_price(this.value)"}) %>


  </div>


    <div class="field">

      <%= f.label "Base price" %><br>
      <%= text_field_tag(:quote_price,"",:id => "price1", onchange: "getInterestRate()") %>

    </div>

    <div class="field">

      <%= f.label :duration %><br>
      <%= f.select(:duration, [0,3,4,5], {onchange: "getInterestRate()"}) %> years

    </div>

    <div class="field">
      <%= f.label "Interest rate" %><br>
      <%= f.text_field(:interestRate, {onchange: "getInterestRate()"})  %> %
    </div>
  <div class="field">
    <%= f.label "Total Price" %><br>
    <%= f.text_field :totalPrice %>
  </div>
  <div class="field">
    <%= f.label "Sold" %><br>
    <%= f.check_box :isFinal %>
  </div>



    <div>
      <button type="button" class="btn btn-info btn-mini" data-toggle="modal" data-target="#financeModal" onclick="getInterestRate()">View Payments</button>
    </div>
    <br>
  <div class="actions">
    <%= f.submit %>
  </div>








    <div id="financeModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Amortization</h4>
          </div>
          <div class="modal-body">
            <p id="showww">

            <br><br>
            </p>
            <p>
              <br>
              <br>

            <table class="table table-hover">
              <thead>
              <tr>
                <th>Payment #</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Interest Paid</th>
                <th>Principle Paid</th>
                <th>Remaining Balance</th>
              </tr>
              </thead>
              <tbody id="letable">



                 <!-- <tr>
                    <td></td>
                    <td>Date</td>
                    <td>Amount</td>
                    <td>Interest Paid</td>
                    <td>Principle Paid</td>
                    <td>Remaining Balance</td>
              </tr>
                  -->
              </tbody>
            </table>
          </div>

          </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>

<script>
  $(document).ready()
  {
  update_price()
  }
</script>

<% end %>
