<p id="notice"><%= notice %>
<div class="newlink">
<%= link_to 'New Quote', new_quote_path %>
  </div>
<h1>Listing Quotes</h1>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">

  <thead>
    <tr>
      <th><%= sortable "Customers.lastName", "Customer" %></th>
      <th><%= sortable  "Employees.lastName", "Sales Person" %></th>
      <th><%= sortable "make", "" %></th>
      <th><%= sortable "totalPrice", "Total Price"%>       </th>
      <th><%= sortable "duration", ""    %>              </th>
      <th><%= sortable "interestRate", "Interest Rate" %>                  </th>
      <th><%= sortable "created_at", "Quoted On"%>                  </th>
      <th><%= sortable "isFinal", "Sold"  %>    </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.customer.full_name %></td>
        <td><%= quote.employee.full_name %></td>
        <td><%= quote.car.full_car %></td>
        <td>$<%= sprintf("%.2f", quote.totalPrice) %></td>
        <td><%= quote.duration %> years</td>
        <td><%= quote.interestRate %>%</td>
        <td><%= quote.created_at.to_date %></td>
        <td><%= quote.isFinal %></td>
        <td><%= link_to 'Show', quote, class: 'btn btn-mini btn-primary' %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote), class: 'btn btn-mini btn-success' %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  </div>
<br>
<div class="newlink">
<%= link_to 'New Quote', new_quote_path%>
</div>