<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.full_name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @quote.employee.full_name %>
</p>

<p>
  <strong>Car:</strong>
  <%= @quote.car.full_car %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @quote.car.price %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @quote.duration %> years
</p>

<p>
  <strong>Interest Rate:</strong>
  <%= @quote.interestRate %>%
</p>

<p>
  <strong>Total Price:</strong>
  $<%= @quote.totalPrice %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @quote.isFinal %>
</p>





<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
