<p id="notice"><%= notice %></p>
<div class="newlink">
  <%= link_to 'New Employee', new_employee_path %>
</div>
<h1>Listing Employees</h1>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">

  <thead>
    <tr>
      <th><%= sortable "firstName", "First Name"%></th>
      <th><%= sortable "lastName", "Last Name"%></th>
      <th><%= sortable "phone", "Phone"%></th>
      <th><%= sortable "position", "Position"%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.firstName %></td>
        <td><%= employee.lastName %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.position %></td>
        <td><%= link_to 'Show', employee, class: 'btn btn-mini btn-primary' %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee), class: 'btn btn-mini btn-success' %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
<br>

<div class="newlink">
  <%= link_to 'New Employee', new_employee_path %>
</div>
