<p id="notice"><%= notice %></p>
<div class="newlink">
  <%= link_to 'New Customer', new_customer_path %>
</div>
<h1>Listing Customers</h1>
<%= form_tag customers_path, :method => "GET" do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">

  <thead>
    <tr>
      <th><%= sortable "firstName", "First Name"%></th>
      <th><%= sortable "lastName", "Last Name"%></th>
      <th><%= sortable "phone", "Phone Number"%></th>
      <th><%= sortable "classification", "Status" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.firstName %></td>
        <td> <%= customer.lastName %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.classification %></td>
        <td><%= link_to 'Show', customer, class: 'btn btn-mini btn-primary' %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer), class: 'btn btn-mini btn-success' %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
<br>

<div class="newlink">
  <%= link_to 'New Customer', new_customer_path %>
</div>
