
<%= stylesheet_link_tag "application" %>

<p id="notice"><%= notice %></p>

<h1>Reporting</h1>


<div class="media">
  <div class="media-body">

    <br>Total Gross Revenue: $<%= sprintf("%.2f",QuotesController.new.revenue) %>
    <br>Sales Tax: $<%= sprintf("%.2f",QuotesController.new.taxsale) %>
    <br>Net Profit: $<%= sprintf("%.2f",QuotesController.new.profitt) %>

  </div>
</div>



