/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
    background-image: url("/bg2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
    padding-right: 100px;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-bottom: 300px;
}

label {
    /*color: #FC0D0D;*/
    font-weight: bold;
}
h1 {
    /*color: #FC0D0D;*/
    font-weight: bold;
}
link {
    /*color: #FC0D0D; text-decoration: underline;*/
}

td{
    padding: 8px;
    text-align: center;
}
tr{
    padding: 8px;
}

.newlink {
    font-size: 14px;

}

.nav-tabs li a {
  font-size: 16px;
}
th .current
{
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 12px;
}
th .asc:after {
  width: 0;
  height: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  position: absolute;
  margin-top: 7px;
  margin-left: 5px;
}

th .desc:after {
  width: 0;
  height: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333;
  position: absolute;
  margin-top: 7px;
  margin-left: 5px;
}