<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<script>
  function updateprice(){
    var wholesale = parseFloat(document.getElementById("car_wholeSaleCost").value);
      var price = parseFloat(wholesale + wholesale * .1);
      var tax = parseFloat (price * .043);
      var price = price + tax;
      document.getElementById("car_tax").value = tax.toFixed(2);
      document.getElementById("car_price").value = price.toFixed(2);
  }

</script>

  <div class="field">
    <%= f.label text="VIN" %><br>
    <%= f.text_field :vin %>
  </div>
    <div class="field">
      <%= f.label :year %><br>
      <%= f.text_field :year %>
    </div>
  <div class="field">
    <%= f.label :make %><br>
    <%= f.text_field :make %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label text="Whole Sale Price" %><br>
    <%= f.text_field :wholeSaleCost, :onchange => "updateprice()" %>
  </div>
    <div class="field">
      <%= f.label text="Sales Tax" %><br>
      <%= f.text_field :tax, :readonly => true %>
    </div>
  <div class="field">
    <%= f.label text="Marked Up Price With Sales Tax" %><br>
    <%= f.text_field :price, :readonly => true %>
  </div>
    <div class="field">
      <%= f.label :mileage %><br>
      <%= f.text_field :mileage %>
    </div>
  <div class="field">
    <%= f.label text="Sold" %><br>
    <%= f.check_box :isSold %>
  </div>

<!-- I left the sold check box here incase an employee accidentally sold a car and needed to "unsell" it-->

  <div class="actions">
    <%= f.submit %>
  </div>

    <script>
        $(document).ready()
        {
            updateprice()
        }
    </script>
<% end %>
