
<p id="notice"><%= notice %></p>
<div class="newlink">
  <%= link_to 'New Car', new_car_path %>
</div>
<h1>Listing Cars</h1>

<%= form_tag cars_path, :method => "GET" do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>

  <div class="media">
    <div class="media-body">
      <table class="table table-hover">

  <thead>
    <tr>
      <th><%= sortable "vin", "VIN"%></th>
      <th><%= sortable "year", "Year"%></th>
      <th><%= sortable "make", "Make"%></th>
      <th><%= sortable "model", "Model"%></th>
      <th><%= sortable "color", "Color"%></th>
      <th><%= sortable "wholeSaleCost", "Whole Sale Cost"%></th>
      <th><%= sortable "price", "Price"%></th>
      <th><%= sortable "mileage", "Mileage"%></th>
      <th><%= sortable "isSold", "Sold" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.vin %></td>
        <td><%= car.year %></td>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.color %></td>
        <td>$<%= sprintf("%.2f", car.wholeSaleCost) %></td>
        <td>$<%= sprintf("%.2f",car.price) %></td>
        <td><%= sprintf("%.1f",car.mileage) %></td>
        <td><%= car.isSold %></td> <!-- CONVERT True/False TO NO/YES-->
        <td><%= link_to 'Show', car, class: 'btn btn-mini btn-primary' %></td>
        <td><%= link_to 'Edit', edit_car_path(car), class: 'btn btn-mini btn-success' %></td>
        <td><%= link_to 'Destroy', car, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
  </div>
<br>

<div class="newlink">
  <%= link_to 'New Car', new_car_path %>
</div>
