<p id="notice"><%= notice %></p>

<p>
  <strong>VIN:</strong>
  <%= @car.vin %>
</p>
<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>
<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Whole Sale Cost:</strong>
  <%= @car.wholeSaleCost %>
</p>
<p>
  <strong>Sales Tax:</strong>
  <%= @car.tax %>
</p>
<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @car.mileage %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @car.isSold %>
</p>



<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
