<!DOCTYPE html>
<html>
<head>
  <title>Project Bauman</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>


  <%= csrf_meta_tags %>

</head>

<body>

<div class="container">
<ul class="nav nav-tabs">

  <li><%= link_to 'Employees', employees_path %></li>
  <li><%= link_to 'Customers', customers_path %></li>
  <li><%= link_to 'Cars', cars_path %></li>
  <li><%= link_to 'Quotes', quotes_path %></li>
  <li><%= link_to 'Owner', '/pages/owner' %></li>

</ul>



<%= yield %>



</div>
</body>


</html>
